run = "runner"
hidden = ["main", "**/*.o", "**/*.d", ".ccls-cache", "Makefile", ".*"]
entrypoint = "Readme.md"

[env]
VIRTUAL_ENV = "/home/runner/${REPL_SLUG}"
PATH = "${VIRTUAL_ENV}/.bin"
CPATH = "${/home/runner/include"
